<log4net>
    <!-- Error Log Appender -->
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="Mir-Map-Tool-Log/Error.log" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <maximumFileSize value="5MB" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601}, [%thread] %-5level %logger - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR" />
            <levelMax value="FATAL" />
        </filter>
    </appender>

    <!-- Debug Log Appender -->
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="Mir-Map-Tool-Log/Debug.log" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />

        <maximumFileSize value="100MB" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{ISO8601}, [%thread] %-5level %logger - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="WARN" />
        </filter>
    </appender>

    <!-- Root Logger -->
    <root>
        <level value="ALL" />
        <appender-ref ref="ErrorFileAppender" />
        <appender-ref ref="DebugFileAppender" />
    </root>
</log4net>