openapi: 3.0.1
info:
  title: 3.3.3 MIR250 REST API
  description: The REST API for the 3.3.3 interface of MIR250
  contact:
    email: support@mir-robots.com
  version: 3.3.3
servers:
- url: http://mir.com/api/v2.0.0
paths:
  /actions:
    get:
      tags:
      - Actions
      summary: GET /actions
      description: Retrieve the list of action definitions
      operationId: actions_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetAction_definitions'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.actions_controller
  /actions/{action_type}:
    get:
      tags:
      - Actions
      summary: "GET /actions/{action_type}"
      description: Retrieve the details about the action. It displays the parameters
        of the action and the limits for the values among others
      operationId: actions_action_type_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: action_type
        in: path
        description: The action_type to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAction_definition'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.actions_controller
    post:
      tags:
      - Actions
      summary: "POST /actions/{action_type}"
      description: Add a new action definition with the specified action_type
      operationId: actions_action_type_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: action_type
        in: path
        description: The action_type to add the new resource to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The details of the action_definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostAction_definition'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAction_definition'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Action_definition
      x-openapi-router-controller: mir_robot_server.controllers.actions_controller
  /cart_calibrations:
    get:
      tags:
      - Cart_calibrations
      summary: GET /cart_calibrations
      description: Retrieve the list of cart calibrations
      operationId: cart_calibrations_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCart_calibrations'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.cart_calibrations_controller
    post:
      tags:
      - Cart_calibrations
      summary: POST /cart_calibrations
      description: Add a new cart calibration
      operationId: cart_calibrations_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the cart_calibrations
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCart_calibrations'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart_calibrations'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Cart_calibrations
      x-openapi-router-controller: mir_robot_server.controllers.cart_calibrations_controller
  /cart_calibrations/{guid}:
    get:
      tags:
      - Cart_calibrations
      summary: "GET /cart_calibrations/{guid}"
      description: Retrieve the details about the cart calibration with the specified
        GUID
      operationId: cart_calibrations_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart_calibration'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.cart_calibrations_controller
    put:
      tags:
      - Cart_calibrations
      summary: "PUT /cart_calibrations/{guid}"
      description: Modify the values of the cart calibration with the specified GUID
      operationId: cart_calibrations_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the cart_calibration
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCart_calibration'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart_calibration'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Cart_calibration
      x-openapi-router-controller: mir_robot_server.controllers.cart_calibrations_controller
    delete:
      tags:
      - Cart_calibrations
      summary: "DELETE /cart_calibrations/{guid}"
      description: Erase the cart calibration with the specified GUID
      operationId: cart_calibrations_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.cart_calibrations_controller
  /cart_types:
    get:
      tags:
      - Cart_types
      summary: GET /cart_types
      description: Retrieve the list of cart types
      operationId: cart_types_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCart_types'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.cart_types_controller
    post:
      tags:
      - Cart_types
      summary: POST /cart_types
      description: Add a new cart type
      operationId: cart_types_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the cart_types
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCart_types'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart_types'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Cart_types
      x-openapi-router-controller: mir_robot_server.controllers.cart_types_controller
  /cart_types/{guid}:
    get:
      tags:
      - Cart_types
      summary: "GET /cart_types/{guid}"
      description: Retrieve the details about the cart type with the specified GUID
      operationId: cart_types_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart_type'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.cart_types_controller
    put:
      tags:
      - Cart_types
      summary: "PUT /cart_types/{guid}"
      description: Modify the values of the cart type with the specified GUID
      operationId: cart_types_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the cart_type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCart_type'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart_type'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Cart_type
      x-openapi-router-controller: mir_robot_server.controllers.cart_types_controller
    delete:
      tags:
      - Cart_types
      summary: "DELETE /cart_types/{guid}"
      description: Erase the cart type with the specified GUID
      operationId: cart_types_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.cart_types_controller
  /carts:
    get:
      tags:
      - Carts
      summary: GET /carts
      description: Retrieve the list of carts
      operationId: carts_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetCarts'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.carts_controller
    post:
      tags:
      - Carts
      summary: POST /carts
      description: Add a new cart
      operationId: carts_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the carts
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCarts'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCarts'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Carts
      x-openapi-router-controller: mir_robot_server.controllers.carts_controller
  /carts/{guid}:
    get:
      tags:
      - Carts
      summary: "GET /carts/{guid}"
      description: Retrieve the details about the cart with the specified GUID
      operationId: carts_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.carts_controller
    put:
      tags:
      - Carts
      summary: "PUT /carts/{guid}"
      description: Modify the values of the cart with the specified GUID
      operationId: carts_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the cart
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutCart'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCart'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Cart
      x-openapi-router-controller: mir_robot_server.controllers.carts_controller
    delete:
      tags:
      - Carts
      summary: "DELETE /carts/{guid}"
      description: Erase the cart with the specified GUID
      operationId: carts_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.carts_controller
  /dashboards:
    get:
      tags:
      - Dashboards
      summary: GET /dashboards
      description: Retrieve the list of dashboards
      operationId: dashboards_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetDashboards'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
    post:
      tags:
      - Dashboards
      summary: POST /dashboards
      description: Add a new dashboard
      operationId: dashboards_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the dashboards
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDashboards'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboards'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Dashboards
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
  /dashboards/{dashboard_id}/widgets:
    get:
      tags:
      - Dashboards
      - Widgets
      summary: "GET /dashboards/{dashboard_id}/widgets"
      description: Retrieve the list of widgets of the dashboard with the specified
        dashboard ID
      operationId: dashboards_dashboard_id_widgets_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: dashboard_id
        in: path
        description: The dashboard_id to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetDashboard_widgets'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
    post:
      tags:
      - Dashboards
      - Widgets
      summary: "POST /dashboards/{dashboard_id}/widgets"
      description: Add a new widget to the dashboard with the specified dashboard
        ID
      operationId: dashboards_dashboard_id_widgets_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: dashboard_id
        in: path
        description: The dashboard_id to add the new resource to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The details of the dashboard_widgets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDashboard_widgets'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboard_widgets'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Dashboard_widgets
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
  /dashboards/{dashboard_id}/widgets/{guid}:
    get:
      tags:
      - Dashboards
      - Widgets
      summary: "GET /dashboards/{dashboard_id}/widgets/{guid}"
      description: Retrieve the details about the widget with the specified GUID in
        the dashboard with the specified dashboard ID
      operationId: dashboards_dashboard_id_widgets_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: dashboard_id
        in: path
        description: The dashboard_id to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboard_widget'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
    put:
      tags:
      - Dashboards
      - Widgets
      summary: "PUT /dashboards/{dashboard_id}/widgets/{guid}"
      description: Modify the values of the widget with the specified GUID in the
        dashboard with the specified dashboard ID
      operationId: dashboards_dashboard_id_widgets_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: dashboard_id
        in: path
        description: The dashboard_id to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the dashboard_widget
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDashboard_widget'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboard_widget'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Dashboard_widget
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
    delete:
      tags:
      - Dashboards
      - Widgets
      summary: "DELETE /dashboards/{dashboard_id}/widgets/{guid}"
      description: Erase the widget with the specified GUID from the dashboard with
        the specified dashboard ID
      operationId: dashboards_dashboard_id_widgets_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: dashboard_id
        in: path
        description: The dashboard_id to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
  /dashboards/{guid}:
    get:
      tags:
      - Dashboards
      summary: "GET /dashboards/{guid}"
      description: Retrieve the details of the dashboard with the specified GUID
      operationId: dashboards_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboard'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
    put:
      tags:
      - Dashboards
      summary: "PUT /dashboards/{guid}"
      description: Modify the values of the dashboard with the specified GUID
      operationId: dashboards_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the dashboard
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDashboard'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDashboard'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Dashboard
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
    delete:
      tags:
      - Dashboards
      summary: "DELETE /dashboards/{guid}"
      description: Erase the dashboard with the specified GUID
      operationId: dashboards_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.dashboards_controller
  /docking_offsets:
    get:
      tags:
      - Docking_offsets
      summary: GET /docking_offsets
      description: Retrieve the list of docking offsets
      operationId: docking_offsets_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetDocking_offsets'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
    post:
      tags:
      - Docking_offsets
      summary: POST /docking_offsets
      description: "Add a new docking offset. The only positions that can have docking\
        \ offsets are Charging stations, V markers and VL markers"
      operationId: docking_offsets_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the docking_offsets
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostDocking_offsets'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocking_offsets'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Docking_offsets
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
  /docking_offsets/shelfs:
    get:
      tags:
      - Docking_offsets
      - Shelfs
      summary: GET /docking_offsets/shelfs
      description: Retrieve the list of docking offsets
      operationId: docking_offsets_shelfs_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetDocking_offsets_no_pos'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
  /docking_offsets/types:
    get:
      tags:
      - Docking_offsets
      - Types
      summary: GET /docking_offsets/types
      description: Retrieve a list of possible position types
      operationId: docking_offsets_types_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetDocking_offset_types'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
  /docking_offsets/types/{id}:
    get:
      tags:
      - Docking_offsets
      - Types
      summary: "GET /docking_offsets/types/{id}"
      description: Retrieve the details about the position type with the specified
        ID
      operationId: docking_offsets_types_id_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: id
        in: path
        description: The id to search for
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocking_offset_type'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
  /docking_offsets/{guid}:
    get:
      tags:
      - Docking_offsets
      summary: "GET /docking_offsets/{guid}"
      description: Retrieve the details of the docking offset with the specified GUID
      operationId: docking_offsets_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocking_offset'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
    put:
      tags:
      - Docking_offsets
      summary: "PUT /docking_offsets/{guid}"
      description: Modify the values of the docking offset with the specified GUID
      operationId: docking_offsets_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the docking_offset
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutDocking_offset'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDocking_offset'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Docking_offset
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
    delete:
      tags:
      - Docking_offsets
      summary: "DELETE /docking_offsets/{guid}"
      description: Erase the docking offset with the specified GUID
      operationId: docking_offsets_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.docking_offsets_controller
  /elevator_floors:
    get:
      tags:
      - Elevator_floors
      summary: GET /elevator_floors
      description: Retrieve the list of elevator floors in the fleet
      operationId: elevator_floors_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetElevator_floors'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.elevator_floors_controller
    post:
      tags:
      - Elevator_floors
      summary: POST /elevator_floors
      description: Add a new elevator floor to the fleet
      operationId: elevator_floors_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the elevator_floors
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostElevator_floors'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetElevator_floors'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Elevator_floors
      x-openapi-router-controller: mir_robot_server.controllers.elevator_floors_controller
  /elevator_floors/{guid}:
    get:
      tags:
      - Elevator_floors
      summary: "GET /elevator_floors/{guid}"
      description: Retrieve the details about the specified elevator floor
      operationId: elevator_floors_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetElevator_floor'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.elevator_floors_controller
    put:
      tags:
      - Elevator_floors
      summary: "PUT /elevator_floors/{guid}"
      description: Modify the values of the specified elevator floor
      operationId: elevator_floors_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the elevator_floor
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutElevator_floor'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetElevator_floor'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Elevator_floor
      x-openapi-router-controller: mir_robot_server.controllers.elevator_floors_controller
    delete:
      tags:
      - Elevator_floors
      summary: "DELETE /elevator_floors/{guid}"
      description: Delete the specified elevator floor
      operationId: elevator_floors_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.elevator_floors_controller
  /elevators:
    get:
      tags:
      - Elevators
      summary: GET /elevators
      description: Retrieve a list of elevators in the fleet
      operationId: elevators_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetElevators'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.elevators_controller
    post:
      tags:
      - Elevators
      summary: POST /elevators
      description: Add a new elevator to the fleet
      operationId: elevators_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the elevators
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostElevators'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetElevators'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Elevators
      x-openapi-router-controller: mir_robot_server.controllers.elevators_controller
  /elevators/{guid}:
    get:
      tags:
      - Elevators
      summary: "GET /elevators/{guid}"
      description: Retrieve the details about the elevator with the specified guid
      operationId: elevators_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetElevator'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.elevators_controller
    put:
      tags:
      - Elevators
      summary: "PUT /elevators/{guid}"
      description: Modify the values of the elevator with the specified guid
      operationId: elevators_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to modify
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The new values of the elevator
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutElevator'
        required: true
      responses:
        "200":
          description: The element has been modified successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetElevator'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Elevator
      x-openapi-router-controller: mir_robot_server.controllers.elevators_controller
    delete:
      tags:
      - Elevators
      summary: "DELETE /elevators/{guid}"
      description: Delete the elevator with the specified guid
      operationId: elevators_guid_delete
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to delete
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: The element has been deleted successfully
          content: {}
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header or No fields or Invalid filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.elevators_controller
  /experimental/diagnostics:
    get:
      tags:
      - Experimental
      - Diagnostics
      summary: GET /experimental/diagnostics
      description: Retrieve diagnostics status
      operationId: experimental_diagnostics_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDiagnostics'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.experimental_controller
  /factory_reset:
    post:
      tags:
      - Factory_reset
      summary: POST /factory_reset
      description: Clean and migrate the database. Keep hardware configurations
      operationId: factory_reset_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the factory_reset
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFactory_reset'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFactory_reset'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Factory_reset
      x-openapi-router-controller: mir_robot_server.controllers.factory_reset_controller
  /footprints:
    get:
      tags:
      - Footprints
      summary: GET /footprints
      description: Retrieve a list of footprints currently stored
      operationId: footprints_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      responses:
        "200":
          description: Successfully retrieved the list of elements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetFootprints'
                x-content-type: application/json
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.footprints_controller
    post:
      tags:
      - Footprints
      summary: POST /footprints
      description: Add new footprint to the database
      operationId: footprints_post
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      requestBody:
        description: The details of the footprints
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostFootprints'
        required: true
      responses:
        "201":
          description: The element has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFootprints'
        "400":
          description: Bad request or Argument error or Invalid JSON or Missing content
            type application/json on the header
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Duplicate entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: Footprints
      x-openapi-router-controller: mir_robot_server.controllers.footprints_controller
  /footprints/{guid}:
    get:
      tags:
      - Footprints
      summary: "GET /footprints/{guid}"
      description: Retrieve information about a footprint with specified GUID
      operationId: footprints_guid_get
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Basic YWRtaW46OGM2OTc2ZTViNTQxMDQxNWJkZTkwOGJkNGRlZTE1ZGZiMTY3YTljODczZmM0YmI4YTgxZjZmMmFiNDQ4YTkxOA==
      - name: Accept_Language
        in: header
        description: Language header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: en_US
          enum:
          - en_US
          - de_DE
          - es_ES
          - da_DK
          - zh_CN
      - name: guid
        in: path
        description: The guid to search for
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully retrieve the specified element
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFootprint'
        "400":
          description: Wrong output fields or Invalid filters or Invalid ordering
            or Invalid limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "410":
          description: Gone
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-openapi-router-controller: mir_robot_server.controllers.footprints_controller
    put:
      tags:
      - Footprints
      summary: "PUT /footprints/{guid}"
      description: Modify a footprint with a specified GUID
      operationId: footprints_guid_put
      parameters:
      - name: Authorization
        in: header
        description: Authorization header
        required: true
[...]
